extends ../template

block variables
    - var title = 'Артроз локтевого сустава'

block content
    main
        .head-pages
            .head-pages__bread-crumbs.bread-crumbs 
                a(href="/").bread-crumbs__linc Главная
                a(href="/").bread-crumbs__linc Направления
                a(href="/").bread-crumbs__linc Локтевой сустав
                span.bread-crumbs__linc.bread-crumbs__your-place Артроз локтевого сустава

        .disease-page.main-grid
            .disease-page__slider-wrap
                .disease-page__slider
                    .disease-page__slider-item
                        img(src="assets/images/joint-x-ray-min.jpg", alt="Локтевой сустав", srcset="assets/images/joint-x-ray@2x-min.jpg 2x" style="width: auto; position: absolute; right: -71px;").disease-page__slider-img
                        span.disease-page__slider-name Локтевой сустав
                        .disease-page__slider-bot-wrap
                            span.disease-page__slider-disease Артроз
                            a(href="#").button.button_clear.button_clear_wheat.disease-page__slider-button Записаться на приём
                    .disease-page__slider-item
                        img(src="assets/images/loktev-joint-min.jpg", alt="Артроз локтевого сустава", srcset="assets/images/loktev-joint@2x-min.jpg 2x" style="width: auto; position: absolute; right: -71px;").disease-page__slider-img
                        span.disease-page__slider-name Локтевой сустав
                        .disease-page__slider-bot-wrap
                            span.disease-page__slider-disease Артроз
                            a(href="#").button.button_clear.button_clear_wheat.disease-page__slider-button Записаться на приём
                    .disease-page__slider-item
                        img(src="assets/images/joint-x-ray-min.jpg", alt="Локтевой сустав", srcset="assets/images/joint-x-ray@2x-min.jpg 2x" style="width: auto; position: absolute; right: -71px;").disease-page__slider-img
                        span.disease-page__slider-name Локтевой сустав
                        .disease-page__slider-bot-wrap
                            span.disease-page__slider-disease Артроз
                            a(href="#").button.button_clear.button_clear_wheat.disease-page__slider-button Записаться на приём
            
            .disease-page__text-wrap
                h1.heading-2.disease-page__heading Артроз локтевого сустава
                p.disease-page__p Заболевание характеризуется тем, что в суставе уменьшается объем синовиальной жидкости, это приводит к увеличению трения, сужению суставной щели и разрастанию остеофитов. Отсюда и возникновение болей, и ограничение подвижности. Важной характеристикой артроза является то, что при его возникновении происходит охват всех элементов сустава, включая синовиальную капсулу, синовиальную оболочку, периартикулярные мышцы, связки и субхондральную кость.
                .disease-page__list-wrap
                    h2.heading-3.disease-page__heading-list Причины
                    ol.disease-page__list
                        li.disease-page__item Травматизация локтя, которая происходит в молодом возрасте. Это и ушибы, и повреждения менисков, и переломы лучезапястных костей, и разрывы связок, и вывихи.
                        li.disease-page__item Нарушение обмена веществ в организме, который приводит к тому, что сустав недополучает необходимых для его нормального функционирования элементов.
                        li.disease-page__item Ревматоидный артрит, который по мере прогрессирования болезни, затрагивает все суставы.
                .disease-page__list-wrap
                    h2.heading-3.disease-page__heading-list Симптомы
                    ol.disease-page__list
                        li.disease-page__item Болезненные ощущения при сгибании, разгибании руки, при её поворотах и даже при ходьбе. Но на начальном этапе эти симптомы не слишком ярко выражены и проявляются лишь после определенной нагрузки, например, поднятии тяжестей, занятиях спортом. Затем, по мере прогрессирования артроза, боль в локте будет наблюдаться даже в состоянии покоя. Довольно часто происходит иррадиация в шейный отдел позвоночника, поэтому нередко симптомы артроза локтевого сустава ассоциируют с
