extends ../template

block variables
    - var title = 'Локтевой сустав'
    - var contactForm = true

block content
    main
        .head-pages
            .head-pages__bread-crumbs.bread-crumbs 
                a(href="/").bread-crumbs__linc Главная
                span.bread-crumbs__linc.bread-crumbs__your-place Контакты
            h1.heading-2.head-pages__heading Контакты