extends ../template

block variables
    - var title = 'Направления'

block content
    main
        .head-pages
            .head-pages__bread-crumbs.bread-crumbs 
                a(href="/").bread-crumbs__linc Главная
                span.bread-crumbs__linc.bread-crumbs__your-place Направления
            h1.heading-2.head-pages__heading Направления
            nav.head-pages__manu
                ul.head-pages__manu-list
                    li.head-pages__manu-item
                        a(href="#").head-pages__manu-linc Коленный сустав
                    li.head-pages__manu-item
                        a(href="#").head-pages__manu-linc Плечевой сустав
                    li.head-pages__manu-item
                        a(href="#").head-pages__manu-linc Локтевой сустав
                    li.head-pages__manu-item
                        a(href="#").head-pages__manu-linc Тазобедренный сустав
        
        .napr.main-grid
            .napr__item
                .napr__img-wrap
                    img(src="assets/images/napr-legs-min.jpg", alt="Локтевой сустав", srcset="assets/images/napr-legs@2x-min.jpg 2x").napr__item-img
                    .napr__item-organ Коленный сустав
                    .napr__item-wrap
                        h3.napr__item-treatment-h Лечение повреждённого мениска
                        span.napr__item-treatment Диагностика и подбор способа лечения
                        a(href="#").button.button_clear.button_clear_wheat Подробнее
            .napr__item
                .napr__img-wrap
                    img(src="assets/images/napr-massage-min.jpg", alt="Локтевой сустав", srcset="assets/images/napr-massage@2x-min.jpg 2x").napr__item-img
                    .napr__item-organ Плечевой сустав
                    .napr__item-wrap
                        h3.napr__item-treatment-h Спортивный массаж
                        span.napr__item-treatment Лечение миалгии
                        a(href="#").button.button_clear.button_clear_wheat Подробнее
                span.napr__item-poles Безоперативные методы в приоритете
            .napr__item
                .napr__img-wrap
                    img(src="assets/images/napr-knee-min.jpg", alt="Локтевой сустав", srcset="assets/images/napr-knee@2x-min.jpg 2x").napr__item-img
                    .napr__item-wrap
                        h3.napr__item-treatment-h Лечение повреждённого мениска
                        span.napr__item-treatment Диагностика и подбор способа лечения
                        a(href="#").button.button_clear.button_clear_wheat Подробнее
                span.napr__item-poles Современное оборудование
            .napr__item
                .napr__img-wrap
                    img(src="assets/images/napr-shoulder-min.jpg", alt="Локтевой сустав", srcset="assets/images/napr-shoulder@2x-min.jpg 2x").napr__item-img
                    .napr__item-organ Плечевой сустав
                    .napr__item-wrap
                        h3.napr__item-treatment-h Кинезиотейпирование
                        a(href="#").button.button_clear.button_clear_wheat Подробнее
                span.napr__item-poles Внимание к деталям
