extends ../template

block variables
    - var title = 'Виды спорта'

block content
    main
        .head-pages
            .head-pages__bread-crumbs.bread-crumbs 
                a(href="/").bread-crumbs__linc Главная
                span.bread-crumbs__linc.bread-crumbs__your-place Виды спорта
            h1.heading-2.head-pages__heading Виды спорта
            nav.head-pages__manu
                ul.head-pages__manu-list
                    li.head-pages__manu-item
                        a(href="#").head-pages__manu-linc Горнолыжный спорт
                    li.head-pages__manu-item
                        a(href="#").head-pages__manu-linc Хоккей
                    li.head-pages__manu-item
                        a(href="#").head-pages__manu-linc Скалолазание и альпинизм
                    li.head-pages__manu-item
                        a(href="#").head-pages__manu-linc Лёгкая атлетика
                    .head-pages__manu-item-border
                    li.head-pages__manu-item
                        a(href="#").head-pages__manu-linc Тяжёлая атлетика
                    li.head-pages__manu-item
                        a(href="#").head-pages__manu-linc Фигурное катание
                    li.head-pages__manu-item
                        a(href="/balet.html").head-pages__manu-linc Балет
                    li.head-pages__manu-item
                        a(href="#").head-pages__manu-linc Единоборства
        
        .disease-main-category.main-grid
            .disease-main-category__item
                .disease-main-category__img-wrap
                    img(src="assets/images/sports-rock-min.jpg", alt="Скалолазание и альпинизм", srcset="assets/images/sports-rock@2x-min.jpg 2x").disease-main-category__item-img
                    .disease-main-category__item-organ Скалолазание и альпинизм
                    .disease-main-category__item-wrap
                        h3.disease-main-category__item-treatment-h Кинезиотерапия
                        //- span.disease-main-category__item-treatment Лечение миалгии
                        a(href="#").button.button_clear.button_clear_wheat Подробнее
            .disease-main-category__item
                .disease-main-category__img-wrap
                    img(src="assets/images/sports-football-min.jpg", alt="Футбол", srcset="assets/images/sports-football@2x-min.jpg 2x").disease-main-category__item-img
                    .disease-main-category__item-organ Футбол
                    .disease-main-category__item-wrap
                        h3.disease-main-category__item-treatment-h Спортивный массаж
                        a(href="#").button.button_clear.button_clear_wheat Подробнее
                span.disease-main-category__item-poles Возвращение мышечного тонуса
            .disease-main-category__item
                .disease-main-category__img-wrap
                    img(src="assets/images/sports-jumping-min.jpg", alt="Лёгкая атлетика", srcset="assets/images/sports-jumping@2x-min.jpg 2x").disease-main-category__item-img
                    .disease-main-category__item-wrap
                        h3.disease-main-category__item-treatment-h Лечение повреждённого мениска
                        a(href="#").button.button_clear.button_clear_wheat Подробнее
                span.disease-main-category__item-poles Лёгкое восстановление связок
            .disease-main-category__item
                .disease-main-category__img-wrap
                    img(src="assets/images/sports-karate-min.jpg", alt="Единоборства", srcset="assets/images/sports-karate@2x-min.jpg 2x").disease-main-category__item-img
                    .disease-main-category__item-organ Единоборства
                    .disease-main-category__item-wrap
                        h3.disease-main-category__item-treatment-h Реабилитация
                        a(href="#").button.button_clear.button_clear_wheat Подробнее
                span.disease-main-category__item-poles Восстановление мобильности суставов
