.disease-main-category {
	margin-bottom: 160px;
	grid-row-gap: 100px;
}

.disease-main-category__item {
	grid-column: 1 / span 8;

	&:nth-of-type(2n) {
		grid-column: 5 / span 8;
	}
}

.disease-main-category__img-wrap {
	position: relative;
	color: #fff;

	&::before {
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: "";
		background-color: rgba(0, 0, 0, 0.3);
	}
}

.disease-main-category__item-img {
	position: relative;
	z-index: -2;
	width: 100%;
	height: 580px;
	margin-bottom: -7px;
	object-fit: cover;
}

.disease-main-category__item-organ {
	position: absolute;
	top: 40px;
	left: 40px;
	font-size: 20px;
}

.disease-main-category__item-wrap {
	position: absolute;
	bottom: 40px;
	left: 40px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.disease-main-category__item-treatment-h {
	margin: 0 0 10px 0;
	font-family: "Cera Pro", serif;
	font-size: 24px;
	font-weight: 500;
	line-height: 135%;
}

.disease-main-category__item-treatment {
	margin-bottom: 20px;
	font-size: 20px;
}

.disease-main-category__item-poles {
	display: block;
	width: 284px;
	margin-top: 40px;
	padding-top: 20px;
	border-top: 1px solid $color-active-light;
	font-family: "Cera Pro", serif;
	font-size: 24px;
	font-weight: 500;
	line-height: 135%;
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 960px) {
	.disease-main-category__item:nth-of-type(2n),
	.disease-main-category__item {
		grid-column: 1 / -1;
	}

	.disease-main-category__item-img {
		height: 480px;
	}
}

@media screen and (max-width: 768px) {
	.disease-main-category {
		margin-bottom: 60px;
		grid-row-gap: 60px;
	}
	.disease-main-category__item {
		margin-bottom: 60px;
	}

	.disease-main-category__item-img {
		height: 270px;
	}

	.disease-main-category__item-organ {
		top: 20px;
		right: 20px;
		left: 20px;
		font-size: 16px;
		line-height: 150%;
	}

	.disease-main-category__item-wrap {
		right: 20px;
		bottom: 20px;
		left: 20px;
	}

	.disease-main-category__item-treatment-h {
		font-size: 18px;
		line-height: 135%;
	}

	.disease-main-category__item-treatment {
		display: none;
	}

	.disease-main-category__item-poles {
		margin-top: 30px;
		padding-top: 10px;
		font-size: 18px;
		line-height: 135%;
	}
}
