.disease-category {
	margin-bottom: 160px;
}

.disease-category__img-wrap {
	position: relative;
	width: calc(100% + 20px);
	height: 720px;
	grid-column: 1 / span 6;
}

.disease-category__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.disease-category__img-name {
	position: absolute;
	top: 40px;
	left: 40px;
	font-size: 20px;
}

.disease-category__img-button {
	position: absolute;
	bottom: 40px;
	left: 40px;
}

.disease-category__text-wrap {
	width: calc(100% + 20px);
	margin-left: -20px;
	grid-column: 8 / span 4;
	align-self: center;
}

.disease-category__text-item {
	margin-bottom: 40px;

	&:last-child {
		margin-bottom: 0;
	}
}

.disease-category__text-button {
	margin-bottom: 10px;
}

.disease-category__text-text {
	margin: 0;
}

.disease-category__poles-wrap {
	display: flex;
	grid-column: 1 / -1;
	justify-content: space-between;
}

.disease-category__poles {
	width: 284px;
	margin-top: 100px;
	padding-top: 10px;
	border-top: 1px solid $color-active-light;
	font-family: "Montserrat", serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 24px;
}

// @media screen and (max-width: 1400px) {

// }

@media screen and (max-width: 960px) {
	.disease-category__text-wrap,
	.disease-category__img-wrap {
		grid-column: 1 / -1;
	}

	.disease-category__img-wrap {
		margin-bottom: 40px;
		height: 420px;
	}

	.disease-category__text-wrap {
		margin-left: 0;
		width: 100%;
		padding: 0 20px;
	}

	.disease-category__poles {
		font-size: 18px;
		line-height: 135%;
		margin-top: 80px;
		width: 220px;
	}
}

@media screen and (max-width: 768px) {
	.disease-category {
		margin-bottom: 100px;
	}

	.disease-category__img-wrap {
		height: 260px;
	}

	.disease-category__text-wrap {
		padding: 0;
	}

	.disease-category__poles-wrap {
		flex-direction: column;
		margin-top: 70px;
	}

	.disease-category__poles {
		width: 100%;
		margin-top: 0;
		margin-bottom: 40px;
	}
}
