.napr {
	margin-bottom: 160px;
}

.napr__item {
	grid-column: 1 / span 8;
	margin-bottom: 100px;

	&:nth-of-type(2n) {
		grid-column: 5 / span 8;
	}
}

.napr__img-wrap {
	position: relative;
	color: #fff;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: -1;
	}
}

.napr__item-img {
	object-fit: cover;
	position: relative;
	height: 580px;
	width: 100%;
	z-index: -2;
	margin-bottom: -7px;
}

.napr__item-organ {
	position: absolute;
	top: 40px;
	left: 40px;
	font-size: 20px;
}

.napr__item-wrap {
	position: absolute;
	bottom: 40px;
	left: 40px;
}

.napr__item-treatment-h {
	font-family: "Cera Pro", serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 135%;
	margin: 0 0 10px 0;
}

.napr__item-treatment {
	font-size: 20px;
	margin-bottom: 20px;
}

.napr__item-poles {
	display: block;
	font-family: "Cera Pro", serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 135%;
	width: 284px;
	margin-top: 40px;
	padding-top: 20px;
	border-top: 1px solid var(--color-active-light);
}
