.disease-page {
	margin-bottom: 100px;
}

.disease-page__slider-wrap {
	position: relative;
	margin-right: -20px;
	grid-column: 1 / 6;
	align-self: flex-start;

	.tns-controls {
		position: absolute;
		z-index: 3;
		top: calc(50% - 20px);
		right: -50px;
		left: -50px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.tns-nav {
		display: flex;
		margin-top: 20px;
		justify-content: center;
	}
}

.disease-page__slider-item {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 740px;
	color: $color-white;
}

.disease-page__slider-img {
	z-index: 1;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.disease-page__slider-name {
	position: absolute;
	z-index: 2;
	top: 40px;
	left: 40px;
	font-size: 20px;
}

.disease-page__slider-bot-wrap {
	position: absolute;
	z-index: 2;
	bottom: 40px;
	left: 40px;
	display: flex;
	flex-direction: column;
}

.disease-page__slider-disease {
	margin: 0 0 20px 0;
	font-family: "Cera Pro", serif;
	font-size: 24px;
	font-weight: 500;
}

.disease-page__text-wrap {
	margin-left: -20px;
	grid-column: 8 / -1;
}

.disease-page__heading {
	margin: 0 0 30px 0;
}

.disease-page__p {
	margin: 0 0 30px 0;
	font-size: 20px;
	font-style: 20px;
}

.disease-page__heading-list {
	margin: 0 0 20px 0;
}

.disease-page__list {
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
	list-style: none;
	counter-reset: disease-page;
}

.disease-page__item {
	display: flex;
	margin-bottom: 20px;
	counter-increment: disease-page;
	font-size: 20px;
	align-items: baseline;

	&:last-child {
		margin-bottom: 0;
	}

	&::before {
		margin-right: 20px;
		content: "0" counter(disease-page);
		letter-spacing: 0.0015em;
		font-family: "Cera Pro", serif;
		font-weight: normal;
		line-height: 25px;
	}
}

@media screen and (max-width: 1400px) {
	.disease-page__slider-wrap .tns-controls {
		top: auto;
		right: 0;
		bottom: -16px;
		left: 0;
	}
}

@media screen and (max-width: 1200px) {
	.disease-page__slider-wrap {
		margin-right: 0;
		grid-column-end: 7;
	}
	.disease-page__text-wrap {
		margin-left: 0;
		grid-column-start: 7;
	}
}

@media screen and (max-width: 960px) {
	.disease-page__slider-wrap,
	.disease-page__text-wrap {
		grid-column: 1 / -1;
	}

	.disease-page__slider-wrap {
		margin-bottom: 50px;
	}

	.disease-page__slider-item {
		height: 420px;
	}

	.disease-page__slider-img {
		width: 100% !important;
		position: static !important;
	}
}

@media screen and (max-width: 768px) {
	.disease-page {
		margin-bottom: 100px;
	}

	.disease-page__heading {
		margin-bottom: 15px;
	}

	.disease-page__item,
	.disease-page__p {
		font-size: 16px;
		line-height: 150%;
	}
}
