:root {
	// Размеры
	--content-max-weight: 1360px;
	--grid-columns-number: 12;
	--grid-columns-weight: 95px;
}

// Цвета
$color-text-main: #000;
$color-grey: #fafafa;
$color-white: #fff;
$color-active: #0060a0;
$color-active-05: rgba(62, 178, 255, 0.05);
$color-active-light: rgba(0, 96, 160, 0.5);
$color-hover: #0076c4;
$color-25: rgba(0, 0, 0, 0.25);

@import "./common/fonts.scss";
@import "./common/tiny-slider.scss";

* {
	box-sizing: border-box;
	outline-offset: 2px;
}

body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	color: $color-text-main;
	font-family: "Spectral", serif;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	line-height: 150%;
}

a {
	transition: color 150ms ease-in-out 0ms;
	color: $color-active;

	&:hover {
		color: $color-hover;
	}
}

// Заголовки
.heading-2 {
	font-family: "Cera Pro", serif;
	font-size: 48px;
	font-weight: bold;
	line-height: 60px;
}

.heading-3 {
	font-family: "Cera Pro", serif;
	font-size: 24px;
	font-weight: 500;
	line-height: 135%;
}

.text-color-white {
	color: $color-white;
}

// Иконки
.icons-arrow {
	width: 22px;
	height: 8px;
}

// Гриды
.main-grid {
	display: grid;
	grid-template-columns: repeat(var(--grid-columns-number), var(--grid-columns-weight));
	grid-column-gap: 20px;
	justify-content: center;
}

// Анимация
.link-main {
	transition: color 150ms ease-in-out 0ms;
	text-decoration: none;
	color: $color-text-main;

	svg {
		transition: fill 150ms ease-in-out 0ms;
		fill: $color-text-main;
	}

	&:hover {
		color: $color-active;

		svg {
			fill: $color-active;
		}
	}
}

// Кнопки
.button {
	display: inline-flex;
	padding: 10px 25px;
	cursor: pointer;
	transition: 150ms ease-in-out 0ms;
	transition-property: color, background-color;
	text-decoration: none;
	letter-spacing: 0.0015em;
	text-transform: uppercase;
	color: $color-white;
	border: 0;
	border-radius: 5px;
	background-color: $color-active;
	font-family: "Cera Pro";
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	align-items: center;

	&::after {
		width: 22px;
		height: 8px;
		margin-left: 10px;
		content: "";
		transition: background-color 150ms ease-in-out 0ms;
		background-color: $color-white;
		mask: url("../images/icons/arrow.svg") no-repeat;
	}

	&:hover {
		background-color: $color-hover;
		color: $color-white;
	}
}

.button_clear {
	padding: 0;
	color: $color-text-main;
	border-radius: 0;
	background-color: transparent;

	&::after {
		background-color: $color-text-main;
	}

	&:hover {
		color: $color-active;
		background-color: transparent;

		&::after {
			background-color: $color-active;
		}
	}
}

.button_clear_blue {
	color: $color-active;

	&::after {
		background-color: $color-active;
	}

	&:hover {
		color: $color-hover;

		&::after {
			background-color: $color-hover;
		}
	}
}

.button_clear_wheat {
	color: $color-white;

	&::after {
		background-color: $color-white;
	}

	&:hover {
		color: #8ab8d6;

		&::after {
			background-color: #8ab8d6;
		}
	}
}

// Слайдер
.tns-nav {
	margin-top: 46px;

	button {
		width: 8px;
		height: 8px;
		margin: 0 15px 0 0;
		padding: 0;
		border: none;
		border-radius: 8px;
		background-color: $color-active-light;
	}

	.tns-nav-active {
		background-color: $color-active;
	}
}

.tns-controls {
	button {
		display: flex;
		height: 40px;
		margin: 0;
		padding: 0 5px;
		border: none;
		background-color: transparent;
		align-items: center;
		justify-content: center;
	}

	button::before,
	button::after {
		// Размер стрелок
		$button-width: 33px;
		$button-height: 12px;

		width: $button-width;
		height: $button-height;
		background-color: $color-text-main;
		mask: url("../images/icons/arrow.svg") no-repeat;
		mask-size: $button-width $button-height;
	}

	button[data-controls="prev"]::before {
		content: "";
		// margin-right: 20px;
		transform: rotate(180deg);
	}
	button[data-controls="next"]::after {
		content: "";
		// margin-left: 20px;
	}
}

.map {
	list-style: none;
	font-size: 20px;

	ul {
		list-style: none;
	}

	a {
		display: block;
		margin-bottom: 20px;
		text-decoration: none;
	}
}

.map-logo {
	display: block;
	padding: 40px;
}

@import "./common/header.scss";
@import "./common/head-pages.scss";

@import "./pages/index/doctor.scss";
@import "./pages/index/activity.scss";
@import "./pages/index/injury.scss";
@import "./pages/index/about-doctor.scss";
@import "./pages/index/how-working.scss";
@import "./pages/index/reviews.scss";

@import "./pages/disease-main-category/disease-main-category.scss";

@import "./pages/disease-category/disease-category.scss";

@import "./pages/disease-page/disease-page.scss";

@import "./common/contact.scss";
@import "./common/footer.scss";
