.doctor {
	position: relative;
	margin-top: -83px;
	margin-bottom: 200px;

	&::after {
		position: absolute;
		z-index: -1;
		top: 0;
		right: calc(50% + 162px);
		bottom: 0;
		left: 0;
		content: "";
		background-color: $color-active-05;
	}
}

.doctor__icon-points {
	position: absolute;
	top: 137px;
	left: calc(50% + 545px);
	width: 135px;
	height: 90px;
}

.doctor__avatar {
	position: relative;
	height: 751px;
	margin-top: 95px;
	grid-column: 1 / span 7;
}

.doctor__avatar-img {
	margin-left: -21px;
}

.doctor__avatar-name {
	position: absolute;
	bottom: 60px;
	left: 0;
	letter-spacing: -0.005em;
	font-family: "Cera Pro", sans-serif;
	font-size: 60px;
	font-weight: bold;
	line-height: 75px;
}

.doctor__info {
	margin-bottom: 57px;
	grid-column: 8 / span 5;
	align-self: end;
}

.doctor__info-text {
	margin: 0 0 40px 0;
	font-family: "Cera Pro", sans-serif;
	font-size: 24px;
	font-weight: 500;
	line-height: 135%;
}

.doctor__info-achive-wrap {
	display: flex;
	margin-bottom: 60px;
}

.doctor__info-achive {
	margin-right: 72px;

	&:last-child {
		margin-right: 0;
	}
}

.achievements__number {
	display: block;
	margin-bottom: 5px;
	color: $color-active;
	font-family: "Cera Pro", sans-serif;
	font-size: 36px;
	font-weight: bold;
	line-height: 45px;
}

.achievements__text {
	display: block;
	font-size: 20px;
}

.doctor__info-button-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
