.injury {
	overflow: hidden;
	margin-bottom: 200px;
}

.injury__text-wrap {
	font-size: 20px;
	grid-column: 1 / span 4;
}

.injury__heading {
	margin: 0 0 20px 0;
}

.injury__text-list {
	margin: 0 0 40px 0;
	padding: 0%;
	list-style: none;
}

.injury__text-list-item {
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}

	&::before {
		content: "— ";
	}
}

.injury__text {
	margin: 0;
}

.injury__slider-wrap {
	grid-column: 6 / -1;

	.tns-outer {
		position: relative;
		width: 100vw;
	}
}

.injury__slider-item {
	position: relative;
}

.injury__slider-text {
	position: absolute;
	right: 20px;
	bottom: 20px;
	left: 0;
	text-align: center;
	font-family: "Cera Pro", sans-serif;
	font-size: 24px;
	font-weight: 500;
	line-height: 135%;
}

.about-doctor__tab-container {
	display: none;
}

.tab-container-active {
	display: block;
}

@media screen and (max-width: 1400px) {
	.injury {
		margin-right: -20px;
		// margin-left: -20px;
	}

	.injury__slider-wrap {
		.tns-outer {
			position: relative;
			right: 0;
			left: 0;
		}
	}
}

@media screen and (max-width: 1200px) {
	.injury__text-wrap {
		grid-column-end: span 5;
	}
}

@media screen and (max-width: 960px) {
	.injury__text-wrap {
		grid-column-end: span 4;
	}

	.injury__slider-wrap {
		grid-column-start: 5;
	}
}

@media screen and (max-width: 768px) {
	.injury {
		margin-left: -20px;
	}
	.injury__text-wrap {
		margin-bottom: 60px;
		padding: 0 20px;
		grid-column-end: -1;
	}

	.injury__slider-wrap {
		grid-column-start: 1;
	}

	.injury__slider {
		&::after,
		&::before {
			display: inline-block;
			width: 20px;
			height: 40px;
			content: "";
		}
	}

	.injury__slider-img {
		height: 320px;
	}

	.injury__slider-text {
		font-size: 18px;
		line-height: 135%;
	}

	.injury__text-wrap {
		font-size: 18px;
	}
}
