article.about-doctor.main-grid
    h2.heading-2.about-doctor__heading-head Монахов Вячеслав Валерьевич

    img(src="assets/images/doctor-min.jpg", alt="Монахов Вячеслав Валерьевич", srcset="assets/images/doctor@2x-min.jpg 2x").about-doctor__img

    .about-doctor__text-wrap
        h2.heading-2.about-doctor__heading Монахов Вячеслав Валерьевич
        p.about-doctor__text Специализируется на лечении спортивных и балетных травм. Проводит артроскопические операции при повреждениях менисков и суставного хряща, при повреждениях передней и задней крестообразной связки, при нестабильности связок надколенника, артроскопические операции на голеностопном и плечевых суставах, консервативное лечение всех хронических состояний, вызванных перегрузкой в спорте, ведёт динамическое наблюдение спортсменов в период игрового сезона и период подготовки к соревнованиям.
        .about-doctor__icon-wrap
            .about-doctor__icon-item
                img(src="assets/images/icons/time.svg").about-doctor__icon
                span.about-doctor__icon-text Стаж 25 лет
            .about-doctor__icon-item
                img(src="assets/images/icons/plus.svg").about-doctor__icon
                span.about-doctor__icon-text 7 348 операций
            .about-doctor__icon-item
                img(src="assets/images/icons/doctor.svg").about-doctor__icon
                span.about-doctor__icon-text Заместитель главного врача по медицинской части
            .about-doctor__icon-item
                img(src="assets/images/icons/document.svg").about-doctor__icon
                span.about-doctor__icon-text Обладатель 
                    a(href="#") сертификатов
            .about-doctor__icon-item
                img(src="assets/images/icons/ball.svg").about-doctor__icon
                span.about-doctor__icon-text Спортивные и балетные травмы
            .about-doctor__icon-item
                img(src="assets/images/icons/pen.svg").about-doctor__icon
                span.about-doctor__icon-text Автор 44 публикаций


    .about-doctor__tab-wtap
        .about-doctor__tab-button-wrap
            button(value='tab-education').about-doctor__tab-button.tab-button-active Образование
            button(value='tab-job').about-doctor__tab-button Опыт работы
            button(value='tab-scientific').about-doctor__tab-button Научная деятельность 
            button(value='tab-certificates').about-doctor__tab-button Сертификаты

        .about-doctor__tab-container-wrap
            .about-doctor__tab-container#tab-education.tab-container-active
                table.tab-education__table
                    tbody
                        tr
                            td.tab-education__table-date 1995
                            td.tab-education__table-place Лечебное дело 
                                span Санкт-Петербургский государственный медицинский университет им. акад. И.П. Павлова
                            td.tab-education__table-education Базовое образование
                        tr
                            td.tab-education__table-date 1996
                            td.tab-education__table-place Травматология и ортопедия 
                                span Санкт-Петербургский государственный медицинский университет им. акад. И.П. Павлова
                            td.tab-education__table-education Интернатура
                        tr
                            td.tab-education__table-date 1998
                            td.tab-education__table-place Травматология и ортопедия 
                                span Санкт-Петербургский государственный медицинский университет им. акад. И.П. Павлова
                            td.tab-education__table-education Ординатура
                        tr
                            td.tab-education__table-date 2018
                            td.tab-education__table-place Травматология и ортопедия 
                                span Санкт-Петербургский государственный медицинский университет им. акад. И.П. Павлова
                            td.tab-education__table-education Повышение квалификации

            .about-doctor__tab-container#tab-job Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere sequi velit nemo cupiditate molestiae. Itaque aperiam dignissimos, officia reprehenderit maiores, nulla suscipit quas ratione saepe, deserunt consequatur velit eos sunt?
            .about-doctor__tab-container#tab-scientific Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis architecto sunt, in alias repellat ipsam placeat, voluptatem numquam, eius non quibusdam dolore quam dolores dignissimos quidem praesentium facere debitis? Natus.
            .about-doctor__tab-container#tab-certificates Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis repellat excepturi nostrum deserunt provident nemo numquam? Ab eveniet atque, natus velit amet sed explicabo at libero facilis hic, consequuntur harum.Neque corporis vitae, modi mollitia tenetur necessitatibus culpa blanditiis aspernatur ex est harum debitis odit voluptates fugiat. Quae numquam fuga voluptates cum nobis, ipsam nihil corporis autem quaerat maxime beatae!
