article.contact.main-grid
    .contact__form.form-bot__wrap
        h3.heading-3.form-bot__heading Вы заболели или хотите оставить обратную связь о работе врача? Свяжитесь с нами.
        form(action="")#form1.form-bot__form
            .form-bot__form-input-wrap
                input(type="text", name="userName" placeholder="Ваше имя" required)#userName.form-bot__form-input
                label(for="userName").form-bot__form-input-lable Ваше имя
            .form-bot__form-input-wrap
                input(type="tel", name="userPhone" placeholder="Телефон" min="1" required)#userPhone.form-bot__form-input.phone-mask
                label(for="userPhone").form-bot__form-input-lable Телефон
            .form-bot__form-input-wrap
                select(name="problem")#problem.form-bot__form-input.form-bot__form-select
                    option(value="none" hidden disabled selected) Проблематика
                    option(value="11") 1 Проблематика
                    option(value="12") 2 Проблематика
                    option(value="13") 3 Проблематика
                    option(value="14") 4 Проблематика
                label(for="problem").form-bot__form-input-lable.input-lable-none Проблематика
            .form-bot__form-input-wrap
                textarea(type="textarea", name="message" placeholder="Сообщение")#message.form-bot__form-input
                label(for="message").form-bot__form-input-lable Сообщение
            p.form-bot__form-text Заполняя форму, вы соглашаетесь с правилами обработки персональных данных.
            button(type="submit").button.form-bot__botton отправить заявку
    .contact__map-wrap
        .contact__map
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aefab6091492cc0625c38f4febf1211532774e8039ead38037c7d5974ba494a23&amp;width=725&amp;height=446&amp;lang=ru_RU&amp;scroll=false"></script>
        .contact__address-wrap
            .contact__address
                span.contact__address-name Клиника Reaclinic
                span.contact__address-street г. Санкт-Петербург, ул. Ленина, д. 42
            .contact__address
                span.contact__address-name Клиника Medalp
                span.contact__address-street пос. Песочный, Ленинградская ул., 54
            .contact__tel-mail
                a(href="mailto:best@doctor.com").contact__mail best@doctor.com
                a(href="tel:+78127483595").contact__tel +7 (812) 748-35-95