footer.footer
    .footer__menu-wrap
        a(href="/").footer__logo.link-main Доктор <br> Монахов

        nav.footer__menu
            ul.footer__menu-list
                li.footer__menu-list-item
                    a(href="/napravleniya.html").footer__menu-list-linc.link-main Направления
                li.footer__menu-list-item
                    a(href="/vidy-sporta.html").footer__menu-list-linc.link-main Виды спорта
                li.footer__menu-list-item
                    a(href="#").footer__menu-list-linc.link-main О враче
                li.footer__menu-list-item
                    a(href="#").footer__menu-list-linc.link-main Отзывы
                li.footer__menu-list-item
                    a(href="#").footer__menu-list-linc.link-main СМИ о нас
                li.footer__menu-list-item
                    a(href="#").footer__menu-list-linc.link-main Партнёры
                li.footer__menu-list-item
                    a(href="#").footer__menu-list-linc.link-main Контакты
                
        a(href="tel:+79268897716").footer__tel.link-main +7 (926) 889-77-16
    .footer__bot
        a(href="#").footer__bot-rs.link-main Сделано в Ra-studio
        a(href="mailto:best@doctor.com").footer__bot-maill.link-main best@doctor.com
        span.footer__bot-copyright © 2019 Сollection. All rights reserved.