.main-menu__indent
header.main-menu.main-grid
    a(href="/").main-menu__logo.link-main Доктор <br> Монахов
    .main-menu__button-tel-wrap
        button.button.main-menu__signup.button_sign-up Записаться на приём
        .main-menu__tel-burger
            a(href="tel:+79268897716").main-menu__tel.link-main +7 (926) 889-77-16
            button.main-menu__burger-button

    .main-menu__burger-menu.burger-menu
        .main-grid.burger-menu__wrap
            .burger-menu__signup-wrap
                a(href="tel:+79268897716").burger-menu__tel.link-main +7 (926) 889-77-16
                button.button.burger-menu__signup.button_sign-up Записаться на приём
            nav.burger-menu__nav
                ul.burger-menu__nav-list
                    li.burger-menu__nav-item.burger-menu__nav-item-drop
                        a(href="/napravleniya.html").link-main.burger-menu__nav-item-linc Направления
                            img(src="assets/images/icons/arrow.svg").icons-arrow
                        ul.burger-menu__drop-list
                            li.burger-menu__drop-item
                                a(href="#").link-main.burger-menu__drop-linc Коленный сустав
                            li.burger-menu__drop-item 
                                a(href="#").link-main.burger-menu__drop-linc Плечевой сустав
                            li.burger-menu__drop-item 
                                a(href="/loktevoy-sustav.html").link-main.burger-menu__drop-linc Локтевой сустав
                            li.burger-menu__drop-item 
                                a(href="#").link-main.burger-menu__drop-linc Тазобедренный сустав

                    li.burger-menu__nav-item.burger-menu__nav-item-drop
                        a(href="/vidy-sporta.html").link-main.burger-menu__nav-item-linc Виды спорта
                            img(src="assets/images/icons/arrow.svg").icons-arrow
                        ul.burger-menu__drop-list
                            li.burger-menu__drop-item
                                a(href="#").link-main.burger-menu__drop-linc Горнолыжный спорт
                            li.burger-menu__drop-item 
                                a(href="#").link-main.burger-menu__drop-linc Хоккей
                            li.burger-menu__drop-item 
                                a(href="#").link-main.burger-menu__drop-linc Скалолазание и альпинизм
                            li.burger-menu__drop-item 
                                a(href="#").link-main.burger-menu__drop-linc Лёгкая атлетика
                            li.burger-menu__drop-item 
                                a(href="#").link-main.burger-menu__drop-linc Тяжёлая атлетика
                            li.burger-menu__drop-item 
                                a(href="#").link-main.burger-menu__drop-linc Фигурное катание
                            li.burger-menu__drop-item 
                                a(href="/balet.html").link-main.burger-menu__drop-linc Балет
                            li.burger-menu__drop-item 
                                a(href="#").link-main.burger-menu__drop-linc Единоборства

                    li.burger-menu__nav-item 
                        a(href="#").link-main.burger-menu__nav-item-linc О враче
                    li.burger-menu__nav-item 
                        a(href="#").link-main.burger-menu__nav-item-linc Отзывы
