.main-manu__indent
header.main-manu.main-grid
    a(href="/").main-manu__logo.link-main Доктор <br> Монахов
    .main-manu__tel-burger
        a(href="tel:+79268897716").main-manu__tel.link-main +7 (926) 889-77-16
        button.main-manu__burger-button
    .main-manu__burger-manu.burger-manu
        .main-grid.burger-manu__wrap
            .burger-manu__header
                a(href="#").button.burger-manu__signup Записаться на приём
                .burger-manu__tel-burger
                    a(href="tel:+79268897716" style="margin-top: 1px;").main-manu__tel.link-main +7 (926) 889-77-16
                    button.main-manu__burger-button
            nav.burger-manu__nav
                ul.burger-manu__nav-list

                    li.burger-manu__nav-item.burger-manu__nav-item-drop
                        a(href="/napravleniya.html").link-main.burger-manu__nav-item-linc Направления
                            img(src="assets/images/icons/arrow.svg").icons-arrow
                        ul.burger-manu__drop-list
                            li.burger-manu__drop-item
                                a(href="#").link-main.burger-manu__drop-linc Коленный сустав
                            li.burger-manu__drop-item 
                                a(href="#").link-main.burger-manu__drop-linc Плечевой сустав
                            li.burger-manu__drop-item 
                                a(href="/loktevoy-sustav.html").link-main.burger-manu__drop-linc Локтевой сустав
                            li.burger-manu__drop-item 
                                a(href="#").link-main.burger-manu__drop-linc Тазобедренный сустав

                    li.burger-manu__nav-item.burger-manu__nav-item-drop
                        a(href="/vidy-sporta.html").link-main.burger-manu__nav-item-linc Виды спорта
                            img(src="assets/images/icons/arrow.svg").icons-arrow
                        ul.burger-manu__drop-list
                            li.burger-manu__drop-item
                                a(href="#").link-main.burger-manu__drop-linc Горнолыжный спорт
                            li.burger-manu__drop-item 
                                a(href="#").link-main.burger-manu__drop-linc Хоккей
                            li.burger-manu__drop-item 
                                a(href="#").link-main.burger-manu__drop-linc Скалолазание и альпинизм
                            li.burger-manu__drop-item 
                                a(href="#").link-main.burger-manu__drop-linc Лёгкая атлетика
                            li.burger-manu__drop-item 
                                a(href="#").link-main.burger-manu__drop-linc Тяжёлая атлетика
                            li.burger-manu__drop-item 
                                a(href="#").link-main.burger-manu__drop-linc Фигурное катание
                            li.burger-manu__drop-item 
                                a(href="/balet.html").link-main.burger-manu__drop-linc Балет
                            li.burger-manu__drop-item 
                                a(href="#").link-main.burger-manu__drop-linc Единоборства

                    li.burger-manu__nav-item 
                        a(href="#").link-main.burger-manu__nav-item-linc О враче
                    li.burger-manu__nav-item 
                        a(href="#").link-main.burger-manu__nav-item-linc Отзывы
