.contact {
	margin-bottom: 200px;
}

.contact__form {
	grid-column: 1 / span 5;
}

.form-bot__form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.form-bot__form-input-wrap {
	width: 100%;
	margin-bottom: 12px;
	display: flex;
	flex-direction: column-reverse;
}

.form-bot__form-input-lable {
	padding-left: 4px;
	transition: 200ms ease-in-out 0ms;
	transition-property: visibility, opacity;
	visibility: visible;
	opacity: 1;
}

.input-lable-none {
	visibility: hidden;
	opacity: 0;
}

.form-bot__form-input {
	font-family: "Spectral", serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 150%;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--color-active);
	width: 100%;
	padding: 5px 4px;

	&:invalid {
		border-color: #ff0000;
	}

	&:placeholder-shown {
		border-color: var(--color-25);

		~ .form-bot__form-input-lable,
		.input-lable-none {
			visibility: hidden;
			opacity: 0;
		}
	}

	&::placeholder {
		font-weight: 200;
		color: var(--color-text-main);
	}

	&[type="textarea"] {
		resize: vertical;
		height: 43px;
		min-height: 43px;
		max-height: 400px;
	}
}

// .input-invalid {
// 	border-color: #ff0000;
// }

.form-bot__form-select {
	padding: 5px 0;

	&:valid {
		border-color: var(--color-25);
		font-weight: 200;
	}

	&:invalid {
		font-weight: 200;
	}

	option {
		font-weight: 200;
		padding-left: 0;
		padding-right: 0;
	}
}

.select-on:valid {
	border-color: var(--color-active);
	font-weight: normal;
}

.contact__map-wrap {
	grid-column: 6 / span 8;
	padding-left: 60px;
}

.contact__map {
	height: 466px;
	margin-bottom: 18px;
}

.contact__address-wrap {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
}

.contact__address,
.contact__tel-mail {
	display: flex;
	flex-direction: column;
}

.contact__address {
	width: 230px;
}

.contact__address-name {
	margin-bottom: 5px;
}

.contact__address-street {
	font-weight: 200;
}

.contact__mail,
.contact__tel {
	color: var(--color-text-main);
	text-decoration: none;
	text-align: right;

	&:hover {
		color: var(--color-active);
	}
}

.contact__mail {
	margin-bottom: 5px;
}
