.contact {
	margin-bottom: 200px;
}

.contact__form {
	grid-column: 1 / span 5;
}

.form-bot__form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.form-bot__form-input-wrap {
	display: flex;
	flex-direction: column-reverse;
	width: 100%;
	margin-bottom: 12px;
}

.form-bot__form-input-lable {
	visibility: visible;
	padding-left: 4px;
	transition: 200ms ease-in-out 0ms;
	transition-property: visibility, opacity;
	opacity: 1;
}

.input-lable-none {
	visibility: hidden;
	opacity: 0;
}

.form-bot__form-input {
	width: 100%;
	padding: 5px 4px;
	border: none;
	border-bottom: 1px solid $color-active;
	background-color: transparent;
	font-family: "Spectral", serif;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	line-height: 150%;

	&:invalid {
		border-color: #ff0000;
	}

	&:placeholder-shown {
		border-color: $color-25;

		~ .form-bot__form-input-lable,
		.input-lable-none {
			visibility: hidden;
			opacity: 0;
		}
	}

	&::placeholder {
		color: $color-text-main;
		font-weight: 200;
	}

	&[type="textarea"] {
		height: 43px;
		min-height: 43px;
		max-height: 400px;
		resize: vertical;
	}
}

.form-bot__form-select {
	padding: 5px 0;

	&:valid {
		border-color: $color-25;
		font-weight: 200;
	}

	&:invalid {
		font-weight: 200;
	}

	option {
		padding-right: 0;
		padding-left: 0;
		font-weight: 200;
	}
}

.select-on:valid {
	border-color: $color-active;
	font-weight: normal;
}

.contact__map-wrap {
	padding-left: 60px;
	grid-column: 6 / span 8;
}

.contact__map {
	height: 466px;
	margin-bottom: 18px;
}

.contact__address-wrap {
	display: flex;
	font-size: 20px;
	justify-content: space-between;
}

.contact__address,
.contact__tel-mail {
	display: flex;
	flex-direction: column;
}

.contact__address {
	width: 230px;
}

.contact__address-name {
	margin-bottom: 5px;
}

.contact__address-street {
	font-weight: 200;
}

.contact__mail,
.contact__tel {
	text-align: right;
	text-decoration: none;
	color: $color-text-main;

	&:hover {
		color: $color-active;
	}
}

.contact__mail {
	margin-bottom: 5px;
}

@media screen and (max-width: 1400px) {
	.contact {
		padding: 0 20px;
	}
}

@media screen and (max-width: 1260px) {
	.contact__map-wrap {
		padding: 0;
	}
}

@media screen and (max-width: 960px) {
	.contact__map-wrap,
	.contact__form {
		grid-column: 1 / -1;
	}

	.contact__form {
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 768px) {
	.contact {
		margin-bottom: 100px;
	}
}

@media screen and (max-width: 690px) {
	.contact__address-wrap {
		flex-wrap: wrap;
	}

	.contact__address {
		width: calc(50% - 10px);
		margin-bottom: 20px;
	}

	.contact__address-wrap {
		font-size: 16px;
		line-height: 150%;
	}

	.contact__tel-mail {
		flex-direction: row;
		width: 100%;
		justify-content: space-between;

		a {
			width: calc(50% - 10px);
			text-align: left;
		}
	}
}
