.footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-top: 1px solid $color-25;
	background-color: $color-grey;
	align-items: center;
}

.footer__menu-wrap {
	display: flex;
	width: var(--content-max-weight);
	height: 123px;
	border-bottom: 1px solid $color-25;
	justify-content: space-between;
	align-items: center;
}

.footer__logo {
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 22px;
}

.footer__menu-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer__menu-list-item {
	margin-right: 40px;

	&:last-child {
		margin-right: 0;
	}
}

.footer__tel {
	letter-spacing: 0.0015em;
	text-transform: uppercase;
	font-family: "Cera Pro", sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
}

.footer__bot {
	display: flex;
	width: var(--content-max-weight);
	height: 103px;
	justify-content: space-between;
	align-items: center;
}
