.main-manu,
.main-manu__indent {
	--main-manu-height: 83px;
}

.main-manu {
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	left: 0;
	height: var(--main-manu-height);
	background-color: rgba(255, 255, 255, 0.6);
}

.main-manu__logo {
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 22px;
	grid-column: 1 / span 2;
	justify-self: start;
	align-self: center;
}

.main-manu__tel-burger {
	display: flex;
	grid-column: 11 / span 2;
	justify-self: end;
	align-self: center;
	align-items: center;
}

.main-manu__signup {
	grid-column: 8 / span 3;
	justify-self: start;
	align-self: center;
}

.main-manu__tel {
	margin-right: 40px;
	letter-spacing: 0.0015em;
	text-transform: uppercase;
	font-family: "Cera Pro", sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
}

.main-manu__burger-button {
	position: relative;
	width: 33px;
	height: 33px;
	margin: 0;
	padding: 0;
	cursor: pointer;

	transition: transform 150ms ease-in-out 0ms;
	border: none;
	background-color: transparent;

	&::before,
	&::after {
		position: absolute;
		height: 2px;
		content: "";
		transition: background-color 100ms ease-in-out 0ms;
		transition: all 150ms ease-in-out 0ms;
		border-radius: 2px;
		background-color: $color-text-main;
	}

	&::before {
		top: 10px;
		left: 0;
		width: 100%;
	}

	&::after {
		right: 0;
		bottom: 10px;
		width: 55%;
	}

	&:hover::before,
	&:hover::after {
		background-color: $color-active;
	}
}

.main-manu__burger-button-cross {
	&::before,
	&::after {
		top: 50%;
		left: 25%;
		width: 22px;
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}
}

.main-manu__indent {
	width: 100%;
	height: var(--main-manu-height);
	background-color: transparent;
}

.main-manu__burger-manu {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 50%;
	background-color: $color-grey;
}

.burger-manu {
	// display: none;
	visibility: hidden;
	transition: display 300ms ease-in-out 0ms;
	transition-property: visibility, opacity;
	opacity: 0;
}

.burger-manu__is-active {
	// display: block;
	visibility: visible;
	opacity: 1;
}

.burger-manu__wrap {
	--grid-columns-number: 6;
	margin-left: 10px;
	justify-content: start;
}

.burger-manu__header {
	display: flex;
	margin-top: 21px;
	grid-column: 2 / span 5;
	align-items: center;
	justify-content: space-between;
}

.burger-manu__tel-burger {
	display: flex;
	align-items: center;
}

.burger-manu__nav {
	margin-top: 180px;
	grid-column: 2 / span 5;
}

.burger-manu__nav-list {
	width: 50%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.burger-manu__nav-item {
	margin-bottom: 30px;

	&:last-child {
		margin-bottom: 0;
	}

	&:hover .burger-manu__drop-list,
	&:focus-within .burger-manu__drop-list {
		visibility: visible;
		opacity: 1;
	}
}

.burger-manu__nav-item-drop {
	position: relative;
}

.burger-manu__nav-item-linc {
	display: flex;
	letter-spacing: 0.0015em;
	text-transform: uppercase;
	font-family: "Cera Pro", sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 25px;
	align-items: center;

	svg {
		margin-left: 15px;
	}
}

.burger-manu__drop-list {
	position: absolute;
	top: 0;
	left: 100%;
	visibility: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	transition: 200ms ease-in-out 50ms;
	transition-property: opacity, visibility;
	opacity: 0;
}

.burger-manu__drop-item {
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}
}

.burger-manu__drop-linc {
	text-transform: uppercase;
	font-family: "Cera Pro", sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 150%;
}
