.head-pages {
	width: var(--content-max-weight);
	margin: 0 auto;
	margin-bottom: 60px;
}

.head-pages__bread-crumbs {
	margin-top: 40px;
	margin-bottom: 20px;
}

.bread-crumbs {
}

.bread-crumbs__linc {
	font-weight: 200;
	color: $color-text-main;
	margin-left: 20px;
	text-decoration: none;

	&::after {
		content: "/";
		margin-left: 20px;
		color: $color-text-main;
	}

	&:first-child {
		margin-left: 0;
	}
}

.bread-crumbs__your-place {
	font-weight: normal;

	&::after {
		content: none;
	}
}

.head-pages__heading {
	margin: 0 0 60px 0;
}

.head-pages__manu {
	border-top: 1px solid $color-25;
	border-bottom: 1px solid $color-25;
	padding: 20px 0;
}

.head-pages__manu-list {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.head-pages__manu-linc {
	font-family: "Cera Pro", serif;
	font-weight: normal;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 0.0015em;
	color: $color-text-main;
	text-decoration: none;
}

.head-pages__manu-linc-active {
	color: $color-active;
}
